@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Yeseva+One&display=swap');

.logo{
 font-size: 1.7rem;
  font-weight: bolder;
  margin-left: 2em;
  color: white;
}
@media screen and (max-width: 890px) {
  .logo {
    margin-left: 1em;
  }
}
@media screen and (max-width: 490px) {
  .logo {
    margin-left: 1em;
  }
}
.navBar {
  font-size: 1.3em;
}
@media screen and (max-width: 890px) {
  .navBar {
    margin-left: 1em;
  }
}
 .link{
  color: white !important;
  font-weight: 500;
  margin-left: .5em
}
.active{
  color: #D83324 !important;
  padding-bottom: 1em;
  border-bottom: 3px solid #D83324;
  transition-delay:  .5s  ease in out;
}
